<mat-toolbar color="primary">
    <h1 mat-button [routerLink]="'/'">Triperis.lt</h1>

    <span class="fill-space"></span>

    <ng-container *ngIf="screenWidth >= 800">
        <a mat-flat-button color="primary" [routerLink]="'/'">Skelbimai</a>

        <ng-container *ngIf="loggedIn">
            <a *ngIf="role === 'User'" mat-flat-button color="primary" [routerLink]="'/UserCars'">Mano skelbimai</a>
        </ng-container>

        <ng-container *ngIf="loggedIn">
            <a *ngIf="role === 'User' && user.canCreateListings == true" mat-flat-button color="primary" [routerLink]="'/NewListing'">Sukurti skelbimą</a>
        </ng-container>

        <ng-container *ngIf="loggedIn">
            <a *ngIf="role === 'Admin'" mat-flat-button color="primary" [routerLink]="'/UserList'">Naudotojai</a>
        </ng-container>

        <ng-container *ngIf="!loggedIn">
            <a mat-flat-button color="primary" [routerLink]="'/LoginRegister'">Prisijungti</a>
        </ng-container>

        <ng-container *ngIf="loggedIn">
            <a mat-flat-button color="primary" [routerLink]="'/'" (click)="logout()">Atsijungti</a>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="screenWidth < 800">
        <button mat-icon-button  xPosition="after" yPosition="below"[matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </ng-container>
    <mat-menu #menu="matMenu" xPosition="before" class="menuStyle">
        <button mat-menu-item [routerLink]="'/'">Skelbimai</button>
        <ng-container *ngIf="loggedIn">
            <button mat-menu-item *ngIf="role === 'User'"  [routerLink]="'/UserCars'">Mano skelbimai</button>
        </ng-container>

        <ng-container *ngIf="loggedIn">
            <button mat-menu-item *ngIf="role === 'User' && user.canCreateListings == true" [routerLink]="'/NewListing'">Sukurti skelbimą</button>
        </ng-container>

        <ng-container *ngIf="loggedIn">
            <button mat-menu-item *ngIf="role === 'Admin'" [routerLink]="'/UserList'">Naudotojai</button>
        </ng-container>

        <ng-container *ngIf="!loggedIn">
            <button mat-menu-item [routerLink]="'/LoginRegister'">Prisijungti</button>
        </ng-container>

        <ng-container *ngIf="loggedIn">
            <button mat-menu-item [routerLink]="'/'" (click)="logout()">Atsijungti</button>
        </ng-container>
    </mat-menu>

</mat-toolbar>


<!--https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/

<a mat-button [routerLink]="'/'" target="_blank">Skelbimai i nauja langa</a>

-->